#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#root {
  display: grid;
  place-items: center; /* Centers  horizontally + vertically */
  text-align: center;
}

.card {
  background-color: black;
  display: flex;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.subRedditText {
  padding: 1%;
  color: blue;
  transition: all 0.25s ease-in-out;
}

.read-the-docs {
  color: #888;
}

.BeauNewsHomeLink {
  font-size: calc(0.5em + 2.5vw);
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 2%;
  background-color: #242424;
  border-radius: 20px;
}

.container {
  display: flex;
  text-align: center;
  border: 1vw solid black;
  background-color: white;
  padding: 1%;
  margin: 4%;
  transition: all 0.25s ease-in-out;
}

/* When hovering over container => modify subRedditText class */
.container:hover .subRedditText {
  color: white;
}

.container:hover {
  background-color: black;
}

.articleImages {
  width: 50%;
  padding: 4%;
}

.articleTitle {
  font-weight: 1000;
}

.articleAuthor {
  font-style: italic;
}

/* Loader component's CSS*/
.LoadingWindow {
  display: flex;
  flex-direction: column; /* column direction to stack loading msg + icon */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loader {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  box-sizing: border-box;
  border-top: 1vw solid #fff;
  border-left: 1vw solid #fff;
  border-right: 1vw solid #ff00;
  animation: loader 0.3s infinite linear;
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}

.upvoteBTN {
  transition: transform 5s;
}

.downvoteBTN {
  transition: transform 5s;
}
.upvoteBTN:hover {
  background-color: green;
}

.downvoteBTN:hover {
  background-color: red;
}

.voteSection {
  background-color: grey;
  padding: 30px;
  border-radius: min(10px + 5%);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.articleTitleLink {
  list-style: none;
}
