#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card {
  background-color: black;
  display: flex;
}
.upvoteBox button {
  display: flex;
}
.downvoteBox button {
  display: flex;
}

.upvoteBox button:hover {
  background-color: green;
  transition: transform 0.3s;
}

.downvoteBox button:hover {
  background-color: red;
  transition: transform 0.3s;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
